TA_KITE_LOGINTYPE=
TA_KITE_ID=
TA_KITE_PASSWORD=
TA_KITE_TOTP=
TA_KITE_APIKEY=
TA_KITE_APISECRET=
TA_KITE_PATH=
TA_DO_KEY=
TA_DO_SECRET=
TA_DO_BUCKET=
TA_DO_ENDPOINT=
TA_DO_REGION=
TA_TELEGRAM_TOKEN=
TA_TELEGRAM_ID=
TA_NATS_WRITE_URI=
TA_NATS_READ_URI=
TZ=Asia/Kolkata
WEBPATH=./web