TA_KITE_LOGINTYPE=WEB
TA_KITE_ID=
TA_KITE_PASSWORD=
TA_KITE_TOTP=
TA_KITE_APIKEY=
TA_KITE_APISECRET=
TA_KITE_PATH=
TA_DO_KEY=
TA_DO_SECRET=
TA_DO_BUCKET=
TA_DO_ENDPOINT=
TA_DO_REGION=
TA_DO_UPLOAD_CRON_TIME="45 15 * * *"
TA_TELEGRAM_TOKEN=
TA_TELEGRAM_ID=
TA_FEED_TIMEOUT=2
TA_FEED_INSTRUMENT_COUNT=3000
TA_DB_NAME=default
TA_NATS_URI=nats://nats:4222
TA_DB_URI=clickhouse:9000
TZ=Asia/Kolkata